.browse-modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    @include flexcenter;
    pointer-events: none;

    &--head {
        position: absolute;
        top: 0;
        h1 {
            @include niceTxt;
            font-size: 2rem;
        }
    }

    &--windows {
        @include flexcenter;
        flex-direction: column;
        position: relative;
        background-color: rgba(30, 35, 36, 0.967);
        border-radius: .5rem;
        height: 50vh;
        width: 90vw;
        @media screen and (min-width: $bp-large) {
            min-height: 350px;
            max-height: 400px;
        }
       
        min-width: 1200px;
        
        pointer-events: stroke;
    }

    &--inner-window {
        @include flexcenter;
        position: relative;

        &--box {
            min-height: 286px;
            width: 20vw;
            min-width: 340px;
            background-color: rgb(24, 28, 29);
            margin: 1rem 2rem;
            border-radius: .25rem;
            cursor: pointer;
            transition: all .2s;
            @include flexcenter;
            flex-direction: column;

            // background-image: url('../../public/pic.svg');
            // background-size: 20%;


            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background-color: rgba(49, 60, 60, 0.377);
                    transition: all .2s;
                }
              } 

        }
    }

}

.browse-modal-category-name {
    @include niceTxt;
    font-size: 1.4rem;
    white-space: nowrap;
    pointer-events: none;

    @media screen and (max-width: 1099px) {
        font-size: 2.6rem;
    }
}

.browse-modal-image-container {
    position: relative;
    top: -.5rem;
    pointer-events: none;
    img {
        @include heightWidthSame(5rem);
        @media screen and (max-width: 1099px) {
            @include heightWidthSame(11rem);
        }
    }
}

.browse-modal-underline {
    height: 5px;
    width: 80%;
    border-top: 1px solid white;
    min-width: 245px;
    pointer-events: none
}

.browse-modal-text-contain {
    @include flexcenter;
    pointer-events: none;

    span {
        @include niceTxt;
        @include heightWidth100;
        @include flexcenter;
        width: 80%;
        text-align: center;
        font-size: .84rem;
        min-width: 245px;
        @media screen and (max-width: 1099px) {
            font-size: 1.7rem;
        }

    }
}

div.mobile-browse-options {
    @media screen and (max-width: 650px) {
        height: 100vh;
        bottom: 0;
        
    }

    div.browse-modal--head {
        top: 2rem;
        h1 {
            font-size: 3rem;
            @media screen and (max-width: 520px) {
                font-size: 2.5rem;
            }
            @media screen and (max-width: 400px) {
                font-size: 2.2rem;
            }

        }
        @media screen and (max-width: 486px) {
            top: 3.5rem;
        }
    }
    div.browse-modal--windows {
        height: 90vh;
        overflow-x: hidden;
        @media screen and (max-width: 650px) {
            height: 100vh;
            
            
        }
        @media screen and (max-height: 650px) {
            overflow-y: auto;
        }

        div.browse-modal--inner-window {
            flex-direction: column;
            display: grid;
            grid-template-columns: 10% 40% 40% 10%;
            grid-template-rows: 50% 50%;
            grid-column: 1/-1;

            :first-child {
                grid-column: 1/3;
            }

            :nth-child(2) { 
                grid-row: 1/-1;
                grid-column: 3/-1;
            }
            :nth-child(3) { 
                grid-column: 1/3;

            }

            @media screen and (max-width: 750px) {
                transform: scale(.9);
            }
            @media screen and (max-width: 650px) {
                display: flex; 
                position: absolute;

            }
            
            @media screen and (max-height: 650px) {
                position: relative;
                margin-top: 3rem;
            }
            @media screen and (max-height: 550px) {
                margin-top: 10rem;
            }
            @media screen and (max-height: 500px) {
                margin-top: 15rem;
            }
            @media screen and (max-height: 460px) {
                margin-top: 25rem;
            }
            @media screen and (max-width: 650px) {
                @media screen and (max-height: 600px) {
                    margin-top: 10rem;
                }
                @media screen and (max-height: 530px) {
                    margin-top: 25rem;
                }
            }

            div.browse-modal--inner-window--box {
                background: none;
                @media screen and (max-width: 650px) {
                    min-height: 200px;
                    
                }
            }
        }
    }
}

div.auth-modal-close-contain.browse-modal-close {
    position: absolute;
    top: 0rem;
    width: 100vw;
    pointer-events: none;
    @include flexcenter;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 3;

    div {
        @include heightWidthSame(8rem);
        cursor: pointer;
        @include flexcenter;
        pointer-events: stroke;

        img {
            position: relative;
            pointer-events: stroke;
            @include heightWidthSame(4rem);
            @media screen and (max-width: 450px) {
                @include heightWidthSame(3rem);
            }
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                img {
                    transition: all .2s;
                    filter: brightness(1.2);
                    opacity: 1;
                }
            }
          } 
    }

    
}