.new-password-page {
    @include heightWidth100;
    height: 100vh;
    @include flexcenter;
    @media screen and (max-height: 700px) {
        position: relative;
        top: 10vh;
    }
    @media screen and (max-height: 600px) {
        top: 20vh;
    }
    @media screen and (max-height: 500px) {
        top: 15rem;
    }
}

.new-password {
    @include flexcenter;
    flex-direction: column;
    position: relative;

    div.auth-grid--head.auth-grid--head--login {
        @include flexcenter;
        width: 50vw;
        @media screen and (max-width: 750px) {
            width: 75vw;
        }
    }
    
}

div.new-password-form-container {
    @media screen and (max-width: 1099px) {
        @include flexcenter;
    }
    form.auth-grid--form.new-password-form {
        @media screen and (max-width: 540px) {
            
           div.outline-btn {
               width: 100%;
           }
           input.inputclass.auth-grid--inputSection--input {
                min-width: 240px;
                max-width: 459px;
                width: 82vw;
                

           }
        }
    }
}

